
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');


.linkDiv {
    margin-top: 10px;
}

.linkDiv > label {
    display: inline;
    padding: 10px;
    
}

h1 {
    font-size: 60px;
    letter-spacing: 7px;
    
}