@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');


div {
    justify-content: center;
    align-items: center;
}

.fruitP {
    margin-top: 20vh;
    text-align: center;
   
}

h1 {
    font-family: 'Permanent Marker';
}